body {
    margin: 0;
    height: 100vh;
    background: #f9f9f9;
    background: #fff;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: overlay;
    /* display: flex;
    flex-flow: column; */
}
input, select, button {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h2 {
    font-weight: 400;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu-enter, .menu-appear {
    opacity: 0;
    margin-top: -10px;
    max-height: 0;
}
.menu-enter-active, .menu-appear-active {
    opacity: 1;
    margin-top: 0;
    max-height: 100px;
    transition: max-height 267ms cubic-bezier(0.4,0,0.2,1), margin-top 267ms cubic-bezier(0.4,0,0.2,1), opacity 267ms cubic-bezier(0.4,0,0.2,1);
}
.menu-exit {
    opacity: 0;
    margin-top: -10px;
    transition: max-height 267ms cubic-bezier(0.4,0,0.2,1), margin-top 267ms cubic-bezier(0.4,0,0.2,1), opacity 267ms cubic-bezier(0.4,0,0.2,1);
}

.display-enter, .display-appear {
    opacity: 0;
}
.display-enter-active, .display-appear-active {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.display-exit {
    opacity: 0;
    display: none;
}

.modal-enter .modal__overlay {
    opacity: 0;
}
.modal-enter-active .modal__overlay {
    opacity: 0.7;
    transition: opacity .2s;
}
.modal-enter-done .modal__overlay {
    opacity: 0.7;
}
.modal-exit .modal__overlay {
    opacity: 0;
    transition: opacity .2s;
}
.modal-enter .modal__card {
    opacity: 0;
    transform: translateY(24px);
}
.modal-enter-active .modal__card {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .3s cubic-bezier(0.4,0.0,0.2,1), transform .3s cubic-bezier(0.4,0.0,0.2,1);
}
.modal-exit .modal__card {
    opacity: 0;
    transition: opacity .3s ease-out;
}

:root {
    --primary-color: #2bc8d8;
    --hover-color: #029db1;
    --red-color: #fd3a57;
    --red-hover-color: #b41d34;
    --error-color: #ea0027;
    --black: #212121;
    --pink: #ff6e6e;
    --purple: #948bff;;
}

.body__container {
    display: flex;
    flex-flow: column;
    max-width: 1172px;
    margin: 0 auto;
    padding: 0 16px;
    padding-bottom: 44px;
}

.card {
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    border: 1px solid #e1e5ec;
}
.card--primary {
    border-left: 6px solid var(--primary-color);
}
.card--primary .date__name {
    color: #21b8c7;
    fill: #21b8c7;
    background-color: rgb(43 200 216 / 20%);
}
.card--purple {
    border-left: 6px solid var(--purple);
}
.card--purple .date__name {
    background-color: rgb(148 139 255 / 20%);
    color: #6f52ed;
    fill: #6f52ed;
}
.card--pink {
    border-left: 6px solid var(--pink);
}
.card--pink .date__name {
    color: #ff6e6e;
    fill: #ff6e6e;
    background-color: rgb(255 110 110 / 20%);
}
.card--gray {
    border-left: 6px solid #aaa;
}
.card--gray .date__name {
    color: #888;
    fill: #888;
    background-color: rgb(170 170 170 / 20%);
}
.card--yellow {
    border-left: 6px solid #ff9c2c;
}
.card--yellow .date__name {
    color: #ff9c2c;
    fill: #ff9c2c;
    background-color: rgb(255 156 44 / 20%);
}
.card--calendar {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.card--availability {
    width: auto;
    margin-top: 16px;
}
.card__header {
    font-size: 20px;
    color: #212121;
    margin-top: 28px;
    display: flex;
    align-items: center;
    height: 32px;
}

.table__body__row td {
    border-bottom: 1px solid rgba(0,0,0,0.06);
    height: 63px;
    max-height: 63px;
    min-height: 63px;
    font-size: 16px;
    color: #212121;
    padding-left: 24px;
    position: relative;
}

th[data-col='day'].calendar-header {
    border-bottom: 1px solid rgba(0,0,0,0.16);
}
.calendar-table th[data-col="day"] {
    text-align: right;
    padding: 0 12px;
    min-width: 50px;
}   
.header-row th {
    height: 36px;
    padding-left: 24px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    color: #212121;
}

table.calendar-table {
    width: 100%;
    table-layout: fixed;
    padding: 12px 0;
}
td.calendar-cell {
    height: 100px;
    position: relative;
    border-right: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
    padding: 0;
    vertical-align: top;
}
td.calendar-cell.selected {
    background-color: #ccffcc;
}
tr:hover td.calendar-cell:first-child {
    background-color: var(--primary-color);
    background-color: rgba(0,188,212,0.2);
}
.calendar-cell:first-child, .calendar-cell:last-child {
    background-color: #f3f3f3;
}
.calendar-cell:last-child {
    border-right: none;
}
.calendar-cell__circle {
    display: flex;
    align-items: center;
}
.calendar-cell__day {
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.calendar-cell__day.today {
    color: #ffffff;
    background: var(--primary-color);
}
.calendar-cell__holiday {
    flex: 1 auto;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    font-weight: 600;
    color: #de3e56;
}
th[data-col='day'].calendar-header {
    border-bottom: 1px solid rgba(0,0,0,0.16);
}
#calendar-table__body .table__body__row:hover {
    background-color: initial;
}
.calendar-cell__shift {
    font-size: 12px;
    padding: 0 10px;
    animation: fade-in .3s ease-in;
}
.calendar-cell__shift--null {
    color: red;
}
.calendar-cell__shift--modified {
    background: #ffeb3b;
}
p.calendar-cell__shift i {
    margin-left: 4px;
}
#calendar-table--sites .calendar-cell__shift {
    cursor: pointer;
}
p.calendar-cell__shift:hover {
    color: #de3e56;
}
.calendar-title {
    display: flex;
    font-size: 24px;
    flex: 1 100%;
}
.calendar-title__year {
    margin-left: 6px;
    font-weight: 300;
}
.calendar-title__address {
    font-weight: 300;
    font-size: 16px;
    margin-top: 4px;
}
#calendar-title__contact {
    display: none;
    flex-flow: column;
}
.calendar-title--center {
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size: 16px;
    margin: 40px 0;
    text-align: center;
}
.calendar-title__div {
    display: flex;
}
.calendar-title--right {
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
}
#calendar__prev {
    margin-left: auto;
}
#calendar__next {
    margin-left: 20px;
    margin-right: -4px;
}
.calendar__arrow {
    display: flex;
    color: var(--black);
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    transition: background-color, opacity .1s linear;
    -webkit-user-select: none;
    user-select: none;
}
/* .calendar__arrow:hover {
    background-color: rgba(32,33,36,.039);
}
.calendar__arrow:active {
    background-color: rgba(32,33,36,.089);
} */
.calendar__arrow--float {
    position: absolute;
    /* top: 51.2%; */
    top: 54px;
    transform: translateY(-50%);
    font-size: 32px;
}

.calendar-cell__div {
    display: flex;
    height: 100%;
    margin-top: -30.5px;
    align-items: center;
    justify-content: center;
}
.calendar__check {
    color: #5f6368;
    font-size: 18px;
    width: 24px;
    height: 24px;
}
tr.selected .calendar__check {
    visibility: visible;
}

.button {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    outline: 0;
    background: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    transition: box-shadow linear 40ms;
    white-space: nowrap;
}
.button--primary:not([disabled]):active, .button--primary:not([disabled]):hover {
    background-color: var(--hover-color);
}
.button--primary {
    color: #ffffff;
    background-color: var(--primary-color);
}
.button--large {
    width: 140px;
    height: 44px;
}
.button__loader {
    position: absolute;
    border: 4px solid var(--primary-color);
    animation: spin .75s ease-in-out infinite;
    border-top: 4px solid #f3f3f3;
    border-radius: 50%;
    width: 16px;
    height: 15px;
}
.button__text.hidden {
    visibility: hidden;
}
.button:disabled {
    opacity: .5;
    cursor: auto;
}
.button--default:not([disabled]):hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: none;
    background-color: #fff;
}
.button--default:not([disabled]):active {
    color: var(--hover-color);
    background-color: #e8f0ff;
}
.button--default:focus {
    box-shadow: 0 0 0 3px rgba(40,110,250,.2);
}
.button.button--borderless {
    border: none!important;
    width: auto;
}
.button--secondary:not([disabled]):hover {
    color: var(--hover-color);
}


.card__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    padding-bottom: 24px;
}
.card__body {
    padding: 22px 24px 10px;
    margin: 0;
}
.card__body--admin {
    padding-right: 12px;
}

.date__div {
    margin-bottom: 30px;
    /* margin-right: -12px; */
}
.date__div:last-child {
    margin-bottom: 11px;
}
.date__header {
    display: flex;
    align-items: center;
    margin-top: 28px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: var(--black);
}
.date__header i {
    margin-right: 10px;
}
.date__header .fa-calendar, .date__header .fa-ban {
    margin-right: 10px;
    width: 15.75px;
    height: 21px;
}
.date__name {
    display: inline-flex;
    align-items: center;
    line-height: 21px;
    margin-bottom: 12px;
    margin-right: 12px;
    color: #21b8c7;
    fill: #21b8c7;
    background-color: rgb(43 200 216 / 20%);
    border-radius: 15px;
    padding: 0 14px 1px;
    box-sizing: border-box;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
}
.date__name:last-of-type {
    margin-right: 0;
}
.red {
    color: var(--red-color);
}
.schedule__icon {
    margin-left: -4px;
    margin-right: 8px;
    margin-bottom: -1px;
    width: 19px;
    height: 19px;
}
.view__icon {
    margin-left: 8px;
    font-size: 14px;
    color: #222;
}
.availability-title {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
}

.input-field {
    position: relative;
    display: flex;
    flex: 1;
}
.modal__card .input-field:not(:first-of-type) {
    margin-left: 12px;
}
.input-field--admin {
    width: 100px;
    display: inline-flex;
    margin-right: 12px;
    margin-bottom: 12px;
}
.input-field--admin:last-of-type {
    margin-right: 0;
}
.input-field--calendar {
    flex: none;
    width: 140px;
    margin-right: 20px;
}
.input-field__label {
    position: absolute;
    display: inline-table;
    pointer-events: none;
    user-select: none;
    background: #fff;
    bottom: 13px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    font-size: 14px;
    left: 8px;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transform-origin: left top;
    white-space: nowrap;
    width: auto;
    z-index: 1;
}
.input-field__text:not(:placeholder-shown) ~ .input-field__label,
.input-field__text:-webkit-autofill ~ .input-field__label,
.input-field__text:focus ~ .input-field__label {
    transform: translateY(-20px) scale(0.75);  
}
.input-field__text:focus ~ .input-field__label {
    color: var(--primary-color);
}
.input-field__text {
    position: relative;
    outline: none;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    background: transparent;
    line-height: 44px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #202124;
    font-size: 14px;
    height: 44px;
    margin: 1px 1px 1px 1px;
    padding: 13px 15px;
    z-index: 1;
    width: 100%;
}

.input-field__text--fill {
    width: 100%;
}
.input-field__text--wide {
    width: 250px;
}
.input-field__text--narrow {
    width: 180px;
}
.input-field__text--short {
    width: 110px;
}

.input-field__unfocused-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #dadce0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.input-field__focused-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid var(--primary-color);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: opacity 150ms cubic-bezier(0.4,0,0.2,1);
    opacity: 0;
}
.input-field:focus-within .input-field__focused-border {
    opacity: 1;
}

.input-field__dropdown {
    position: absolute;
    bottom: 48px;
    padding: 9px 0;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.05);
    z-index: 100;
    visibility: hidden;
}
.input-field--admin .input-field__dropdown {
    bottom: auto;
    top: 46px;
}
.input-field--roles .input-field__dropdown {
    bottom: auto;
    top: 46px;
    max-height: calc(50vh - 100px);
    overflow: auto;
}
.dropdown__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 0 12px;
    padding-left: 15px;
    color: #222;
    user-select: none;
}
.dropdown__option.selected {
    color: var(--primary-color);
}
.dropdown__option:hover, .dropdown__option.hover {
    background-color: var(--primary-color);
    color: #fff;
}
.dropdown__icon {
    margin-right: 10px;
    font-size: 16px;
    width: 16px;
}
.dropdown__icon--circle {
    font-size: 10px;
}
.dropdown__check {
    margin-left: auto;
    font-size: 18px;
    font-weight: 700;
    display: none;
}
.dropdown__option.selected > .dropdown__check {
    display: block;
}
.input-field__select--arrow {
    position: absolute;
    right: 12px;
    bottom: 14px;
    line-height: 21px;
    font-size: 16px;
    color: #616161;
    color: #737376;
    width: 16px;
    height: 16px;
}
.input-field--select > .input-field__text {
    cursor: pointer;
}
.input-field--select > .input-field__text:focus ~ .input-field__dropdown,
.input-field__dropdown:active {
    visibility: visible;
}

.navbar {
    box-shadow: inset 0 -1px 0 #e1e5ec;
    background: #ffffff;
    height: 56px;
    display: flex;
    align-items: center;
    z-index: 100;
}
.navbar__buttons {
    display: flex;
    margin: auto;
}
.navbar__img {
    margin-left: -4px;
    margin-right: -18px;
}
.navbar__icon {
    font-size: 24px;
}
.navbar__button {
    display: inline-flex;
    height: 56px;
    align-items: center;
    padding: 0 14px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .6;
    transition: all .1s cubic-bezier(.4,0,1,1);
    box-sizing: border-box;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.navbar__button.selected {
    opacity: 1;
    border-bottom: 2px solid var(--primary-color);
}

.date__circle {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-width: 2px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.card--count {
    position: fixed;
    right: 36px;
    top: 84px;
}
.card--count .availability-title {
    font-size: 22px;
}
.card__row {
    display: flex;
    margin-bottom: 12px;
    color: #222;
    font-size: 14px;
}
.card__row:last-child {
    margin-bottom: 0;
}
.row__count {
    margin-left: auto;
}
.card__footer--admin {
    padding-bottom: 40px;
    margin-top: 16px;
    margin-left: 5px;
}
.card--count #availability {
    display: none;
}

.footer__loader {
    border: 4px solid #fff;
    -webkit-animation: spin 0.75s ease-in-out infinite;
    animation: spin 0.75s ease-in-out infinite;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
}
.availability-title .footer__loader {
    margin-left: 16px;
}
#save--admin {
    margin-right: 12px;
}

.name__icon {
    width: 14px;
    height: 14px;
    margin: -6px;
    margin-left: 0px;
    cursor: pointer;
    padding: 6px;
}

.modal {
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__overlay {
    background-color: #000;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.modal--body {
    z-index: 198;
}
.modal__card {
    z-index: 100;
    width: 540px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 14px 0 rgba(0,0,0,.2);
    border-radius: 8px;
    transition: opacity .3s ease-out, transform 0s .3s;
}
.modal__header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
}
.modal__button {
    height: 28px;
    margin-left: auto;
    margin-right: -16px;
    color: #737376;
}
.modal__header__text {
    font-size: 20px;
    line-height: 30px;
}
.modal__form {
    padding: 8px 24px 8px;
    max-height: 414px;
    margin: 0;
}
.modal__form__group:not(:last-of-type) {
    margin-bottom: 12px;
}
.modal__form__row {
    display: flex;
    margin-bottom: 22px;
}
.modal__form__row:last-of-type {
    margin-bottom: 16px;
}
.modal__form__row--separator:not(:last-of-type) {
    padding-bottom: 6px;
}
.modal__body {
    padding: 8px 24px 24px;
}
.modal__footer {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.align-right {
    margin-left: auto;
}
.display-flex {
    display: flex;
}
.modal__footer .button {
    font-size: 14px;
    height: 32px;
}
.modal__footer .button:not(:last-of-type) {
    margin-right: 10px;
}
.modal__button__icon {
    width: 22px;
    height: 22px;
}

.card__heading {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 22px;
    margin-bottom: 3px;
}
.card__subheading {
    font-size: 14px;
    color: #8889a0;
    margin-bottom: 22px;
}
.card-grid {
    display: grid;
    grid-gap: 0 16px;
    grid-template-columns: repeat(auto-fill, 380px);
}
.card-grid--stretch {
    grid-template-columns: auto;
    justify-content: flex-start;
}
.date__icon {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    color: var(--primary-color);
}

.songsheets-header {
    margin: 20px 20px;
    margin-left: 8px;
    user-select: none;
}
.songsheets-header__title {
    color: #5f6368;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.songsheets-grid {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
}
.songsheets-grid__item {
    background-color: #fff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    height: 223px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.songsheets-grid__item--small {
    height: auto;
}
.songsheets-grid__link {
    display: flex;
    flex-direction: column;
    flex: 1;
    user-drag: none;
    -webkit-user-drag: none;
}
.songsheets-grid__block {
    padding: 15px 16px;
}
.songsheets-grid__flex {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-right: 12px;
}
.songsheets-grid__img-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.songsheets-grid__img {
    width: 64px;
    height: 64px;
    user-drag: none;
    -webkit-user-drag: none;
}
.songsheets-grid__more {
    display: none;
    width: 20px;
    height: 20px;
    padding: 4px 4px;
    position: absolute;
    right: 4px;
    top: 8px;
    border-radius: 50%;
}
.songsheets-grid__item:hover .songsheets-grid__more {
    display: block;
}
.songsheets-grid__more:hover {
    background-color: rgba(60,64,67,0.08);
}
.songsheets-grid__icon {
    width: 24px;
    height: 24px;
    padding: 12px 16px;
}
.songsheets-grid__title {
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    color: rgba(0,0,0,.72);
    padding-bottom: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.songsheets-grid__subtitle {
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0,0,0,.54);
    margin-top: 6px;
    word-break: break-all;
}
.searchbar-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.searchbar {
    display: flex;
    align-items: center;
    background: #f1f3f4;
    height: 48px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 720px;
    margin: auto;
    -webkit-transition: background 100ms ease-in,width 100ms ease-out;
    transition: background 100ms ease-in,width 100ms ease-out;
}
.searchbar:focus-within {
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
    box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
}
.searchbar__icon {
    width: 24px;
    height: 24px;
    margin: 0 16px;
    color: #5f6368;
}
.searchbar__input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    padding-bottom: 1px;
    font-size: 16px;
    flex: 1;
    height: 100%;
}
.searchbar__close {
    display: flex;
    border-radius: 50%;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
}
.searchbar__close:hover {
    background-color: rgba(60,64,67,0.08);
}
.searchbar__close .searchbar__icon {
    margin: 0;
}
.searchbar__input:placeholder-shown ~ .searchbar__close {
    display: none;
}
.songsheets-navbar {
    border-bottom: 1px solid #dadce0;
    height: 48px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.songsheets-navbar__link {
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    margin: 2px 0;
    padding: 3px 8px 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #3c4043;
    text-transform: capitalize;
    user-select: none;
}
.songsheets-navbar__link--hover:hover {
    background-color: #f1f3f4;
    cursor: pointer;
}
.songsheets-navbar__icon {
    width: 24px;
    height: 24px;
    color: #3c4043;
}
.new-button {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 24px;
    color: #3c4043;
    height: 48px;
    width: 120px;
    margin-left: -120px;
    cursor: pointer;
    z-index: 1;
    transition: color 200ms cubic-bezier(0.4,0,0.2,1),background 200ms cubic-bezier(0.4,0,0.2,1),box-shadow 400ms cubic-bezier(0.4,0,0.2,1);
}
.new-button:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #f8f9fa;
}
.new-button:active {
    background-color: #e8f0fe;
}
.new-button__img {
    width: 36px;
    height: 36px;
    margin: 0 13px 0 9px;
    user-drag: none;
    -webkit-user-drag: none;
}
.new-button__text {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .15px;
    padding-bottom: 1px;
}
.new-button__input {
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 4px;
    right: 4px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    background-color: #fff;
    padding: 6px 0;
    overflow: hidden;
}
.dropdown-menu__item {
    color: #202124;
    padding: 0 30px;
    height: 32px;
    display: flex;
    align-items: center;
}
.dropdown-menu__item:hover {
    background-color: #eee;
}
.dropdown-menu__text {
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 1px;
}
.dropdown-menu__icon {
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin-bottom: 10px;
        box-shadow: none;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        box-sizing: border-box;
    }
    .card--calendar {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .card--count {
        position: initial;
    }
    .card--count #availability {
        display: flex;
    }
    td.calendar-cell {
        height: 90px;
    }
    .calendar-title {
        font-size: 22px;
    }
    .calendar-title--center {
        font-size: 14px;
        margin: 30px 0;
    }
    .availability-title {
        font-size: 22px;
    }
    .card--availability {
        margin-top: 10px;
    }
    .navbar {
        border-bottom: 1px solid #e5e5e5;
        box-shadow: none;
    }
    .calendar-table th[data-col="day"] {
        text-align: center;
    }  
    #save--admin {
        margin-right: auto;
    }
    .calendar__arrow--float {
        display: none;
    }
    .card-grid {
        grid-template-columns: 1fr;
    }
    .body__container--calendar {
        padding: 0;
        border-radius: 0;
    }

    .songsheets-grid {
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    }
    .songsheets-grid--small {
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    }
    .songsheets-grid__item:not(.songsheets-grid__item--small) {
        height: auto;
        aspect-ratio: 1;
    }
    .new-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
    }
    .new-button__text {
        display: none;
    }
    .new-button__img {
        margin: 0;
    }
}